RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?refcode=$1 [L]



RewriteCond %{HTTP_HOST} ^regionalfundsnetwork.com

RewriteRule (.*) https://www.regionalfundsnetwork.com/$1 [R=301,L]





